*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
    background: #0b3f4c;
}
a
{
display: inline-block;
}
p
{
    color:rgb(0, 0, 0);
    text-align: justify;
    
}
header {
    background: #000000;
    padding: 20px 0;
}

header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container .logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(255, 17, 17, 0.1);

}

header .container a {
    color: #ffffff;;
    text-decoration: none;
    margin:0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container a:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: rgb(255, 0, 43);
    transition: color 0.3s;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
   
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    width: 20px;              
    height: auto;              
    border-radius: 50%;        
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); 
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #000000;
}

#inicio
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}
.bloque-inicio {
    flex: 1;
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgb(0, 0, 0);
    margin-top: 1px;
}

.bloque-inicio h1 {
    font-size:2em;
}

.bloque-inicio p {
    margin-top: 5px;
    line-height: 1.0;
}


.bloque-inicio a {
    display: inline-block;
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 55px;
    transition: background 0.1s;
}

.bloque-inicio a:hover {
    background: rgb(255, 0, 0);
    color: #000000;
    
}

.ImagenFondo {
    flex: 1;
    text-align: right;
}

.ImagenFondo img {
    width: 250%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 500);
    
}

#nosotros {
    padding: 50px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

#nosotros h3 {
    font-size: 1.8em;
}

#nosotros p {
    margin-top: 5px
}

#inicio img
{
width: 100%;
display: block;
}

#servicios img
{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio
{
position: relative;
top: 20%;

}

#inicio .ImagenFondo {
    width: 100%;
    display: block;
}

#galeria {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

#galeria h3 {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 55px;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
}

#galeria img {
    flex: 0 10 auto;
    width: 350px;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 10px 50px rgb(0, 0, 0);
    object-fit: cover;
}

h3
{
align-items: center;
font-size: 150%;
margin: 0 auto;
}
.imagencentro
{
    width: 150px;
    height: 150px;
    overflow: hidden;

}
.imagencentro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 8px;
}
.izquierda
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: px;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.izquierda a {
    font-size: x-large;
    color: #fff;
}

.imagenes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}
#servicios > div {
    flex: 1 1 45%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
    text-align: center;
}

footer .izquierda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background: #3498db;
    color: #00b3ef;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.boton:hover {
    background: #24243f;
}

#contactenos {
    padding-top: -40px;
    padding-left: 70px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-bottom: -20px;
    background: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

#contactenos h2 {
    text-align: justify;
    font-size: 2em;
    margin-bottom: 1px;
    width: 10px;
    padding: -50px;
}

form {
    display: flex;            
    flex-direction: column;   
    gap: 15px;                
}

form div {
    display: flex;            
    flex-direction: column;  
    
}

label {
    font-weight: bold;        
}

input {
    border: 1.5px solid #d1cbcb;   
    border-radius: 150px;       
    padding: 5px;            
    font-size: 1.5em;           
    width: 100%;             
}
textarea{
    border: 1.5px solid #d1cbcb;   
    border-radius: 15px;       
    padding: 5px;            
    font-size: 1.5em;           
    width: 100%;  
}

input[type="submit"] {
    background: #3498db;      
    color: #fff;             
    border: none;             
    border-radius: 5px;       
    padding: 10px 20px;     
    font-weight: bold;       
    cursor: pointer;          
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #a2a8c0;     
}

input:focus, textarea:focus {
    border-color: #5e3030;
    outline: none;
}

input:invalid, textarea:invalid {
    border-color: #e74c3c;
}

input:invalid:focus, textarea:invalid:focus{
    border-color: #2b98c0;
}

footer {
    background: #000000;
    color: #ffffff;
    padding: 50px 0;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
textarea {
    max-width: 500px;
    max-height: 300px; 
    height: 300px;
    width: 875px;
}